* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-blueish: #0561da;
    --color-blackish: #1a1c20;
    --color-blackish-light: #2d2f32;
    --color-blackish-hover: #ffffff0c;
} 

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #1919194d;
}
  

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #363645bd;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: var(--color-blackish);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-layer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff0a;
    position: absolute;
    z-index: 99;
    backdrop-filter: blur(2px);
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #1a1c20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 0 1px 0 rgba(204, 204, 204, 0.521);
}
.sidebar > .sidebar_logo {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.sidebar > .sidebar_logo > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.sidebar > .sidebar_logo > h3 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.sidebar > .sidebar_option {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-left: 5px solid transparent;
}
.sidebar > .sidebar_option > .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.sidebar > .sidebar_option > .icon > i {
    font-size: 16px;
    color: #ccc;
    z-index: 2;
}
.sidebar > .sidebar_option:hover {
    background-color: #ffffff1c;
}
.sidebar > .user {
    bottom: 0;
    position: fixed;
    width: 250px;
    height: 60px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    background-color: #202023;
    z-index: 10;
}
.sidebar > .user > img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    position:  absolute;
    left: 15px;
    border-radius: 50%;
}
.sidebar > .user > p {
    max-width: 125px;
    font-size: 15px;
    color: white;
    padding: 5px 14px;
    border-radius: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: end;
    background-color: var(--color-blackish-hover);
    margin-right: 10px;
}
.sidebar > .user > span {
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: var(--color-blackish-hover);
    padding: 8px;
    border-radius: 50%;
}
.sidebar > .settings {
    bottom: 0;
    z-index: 10;
    width: 230px;
    height: 100px;
    position: fixed;
    margin-bottom: 70px;
    background-color: #202023;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
}
.sidebar > .settings > ul {
    width: 100%;
    height: 100%;
    list-style: none;
}
.sidebar > .settings > ul > li {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blackish-hover);
}
.sidebar > ul {
    display: none;
    width: 100%;
    height: max-content;
    list-style: none;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}
.sidebar > ul > li {
    width: calc(100% - 50px);
    margin-left: 25px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-blackish-hover);
}
.sidebar > ul > li:hover {
    background-color: var(--color-blackish-light);
}
.sidebar > ul > li > .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 8px;
}

.floating_menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 100;
    background-color: #065bc7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.floating_menu > i {
    font-size: 15px;
    color: white;
}

@media screen and (min-width: 768px) {
    .floating_menu {
        display: none;
    }
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.content > header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.content > header > i {
    font-size: 20px;
    color: #0561da;
    z-index: 2;
    margin-right: 10px;
}
.content > header > input[type="text"] {
    width: 100%;
    height: calc(100% - 10px);
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}
.content > header > button {
    height: calc(100% - 20px);
    background-color: #2d2f32;
    border: none;
    outline: none;
    color: #ccc;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content > header > button > i {
    font-size: 16px;
    margin-right: 5px;
}
.content > header > .other {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        display: none;
        position: fixed;
    }
    .content {
        width: 100%;
    }
    .content > header {
        height: 50px;
    }
    .content > header > input[type="text"] {
        font-size: 14px;
    }
    .content > header > button {
        font-size: 14px;
    }
    .content > header > .other {
        padding: 0;
    }
}

.content > section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.file_list {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.file_list > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
.file_list > ul > li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff0c;
}
.file_list > ul > li > .file_icon {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ccc;
}
.file_list > ul > li > span {
    font-size: 15px;
    color: #ccc;
    margin-left: 10px;
    padding: 8px;
    background-color: #ffffff0c;
    border-radius: 50%;
    cursor: pointer;
}
.file_list > ul > li > .info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
}
.file_list > ul > li > .info > p {
    max-width: 650px;
    font-size: 15px;
    color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    
}
@media screen and (max-width: 768px) {
    .file_list > ul > li {
        height: 50px;
        padding-left: 0;
        padding-right: 10px;
    }
    .file_list > ul > li > i {
        font-size: 20px;
        margin-left: 15px;
    }
    .file_list > ul > li > .info {
        height: 50px;
    }
    .file_list > ul > li > .info > p {
        width: 230px;
        font-size: 12px;
    }
    .file_list > ul > li > span {
        font-size: 15px;
        margin-left: 5px;
        padding: 7px;
    }
}

.home_page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a1c20;
}
.home_page > p {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
    margin-top: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff0c;
}
.home_page > p > i {
    font-size: 20px;
    color: #ccc;
    margin-right: 5px;
}
.home_page > .pinned {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
}
.home_page > .pinned > .card {
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff0c;
    padding: 10px;
    flex-shrink: 0;
}
.home_page > .pinned > .card > i {
    font-size: 40px;
    color: #ccc;
    margin-top: -10px;
    margin-bottom: 8px;
}
.home_page > .pinned > .card > p {
    width: 160px;
    font-size: 12px;
    color: #ccc;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.home_page > .pinned > .card > .unpin {
    width: 100%;
    text-align: end;
    color: #ffffff57;
}
.home_page > .pinned > .card > .unpin > span {
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes sildein {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 0;
    }
}

.file_menu {
    right: 0;
    bottom: 0;
    width: 500px;
    height: max-content;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a1c20;
    position: fixed;
    border-radius:  20px 20px 0 0;
    z-index: 10000 !important;
    animation: sildein 0.5s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.425);
}
.file_menu > .file_menu_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: #0561da;
    margin: 10px 20px 0 0;
}
.file_menu > .title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    border-radius:  20px 20px 0 0;
    justify-content: space-between;
    background-color: #1d1f24;
}
.file_menu > .title > p {
    width: 400px;
    font-size: 18px;
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file_menu > .title > i {
    font-size: 14px;
    color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    color: #0561da;
    padding: 10px;
}
.file_menu > .file_menu_option {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff0c;
    cursor: pointer;
}
.file_menu > .file_menu_option:hover {
    background-color: #ffffff0c;
}
.file_menu > .file_menu_option > p {
    font-size: 15px;
    color: white;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_menu > .file_menu_option > span {
    font-size: 15px;
    color: #ccc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff0c;
}


@media screen and (max-width: 768px) {
    .file_menu {
        width: 100%;
    }
    .file_menu > .title > p {
        width: 300px;
    }
}

.my_files {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1a1c20;
}
.my_files > p {
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ffffff0c;
}
@media screen and (max-width: 768px) {
    .my_files > p {
        width: calc(100% - 10px);
        height: 45px;
        font-size: 16px;
    }
}

.prompt {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    border-bottom: 1px solid var(--color-blackish-hover);
}
.prompt > i {
    right: 0;
    margin-right: 10px;
    position: absolute;
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
    padding: 10px;
}
.prompt > p {
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
}

.snackbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 10px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: bottom 0.5s;
    z-index: 1100 !important;
    background-color: transparent;
}
.snackbar > .snack_content {
    width: 550px;
    height: 55px;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 112, 30);
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 5px;
}
.snackbar > .snack_content > p {
    font-size: 16px;
    max-width: 480px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.snackbar > .snack_content > i {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff3f;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {
    .snackbar > .snack_content {
        width: 400px;
    }
    .snackbar > .snack_content > p {
        font-size: 14px;
        max-width: 300px;
    }
}
    
.queue {
    top: 0;
    right: 0;
    margin-top: 70px;
    margin-right: 10px;
    width: 700px;
    height: 300px;
    position: fixed;
    z-index: 1000;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-blackish);
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #000000b2;
    z-index: 100 !important;

}
.queue > .queue_close {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    color: white;
    background-color: rgb(255, 71, 71);
}
.queue > .queue_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.queue > .queue_content > ul {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    overflow-y: auto;
    border-radius: 5px;
    background-color: var(--color-blackish);
}
.queue > .queue_content > p {
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: var(--color-blackish-hover);
}
.queue > .queue_content > ul > li {
    width: 100%;
    height: 50px;
    padding: 3px 8px 3px 3px;
    flex-shrink: 0;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: var(--color-blackish-hover);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.queue > .queue_content > ul > li > p {
    width: 60px;
    font-size: 13px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    flex-shrink: 0;
    background-color: var(--color-blackish-hover);
}
.queue > .queue_content > ul > li > .icon {
    font-size: 18px;
    color: white;
    padding: 8px 18px;
    border-radius: 25px;
}
.queue > .queue_content > ul > li > .info {
    width: 100%;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.queue > .queue_content > ul > li > .info > p {
    width: 100%;
    max-width: 618px;
    font-size: 15px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3px;
}
.queue > .queue_content > ul > li > .info > .progress {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #2d2f32;
}
.queue > .queue_content > ul > li > .info > .progress > .bar {
    width: 0;
    height: 100%;
    background-color: var(--color-blueish);
    transition: width 0.5s;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .queue {
        width: 100vw;
        height: 250px;
        padding: 5px;
        border-radius: 0;
        margin: 0;
    }
    .queue > .queue_close {
        width: 20px;
        height: 20px;
    }
    .queue > .queue_content > p {
        margin-top: 5px;
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 20px;
    }
    .queue > .queue_content > ul {
        width: 100%;
        height: 100%;
    }
    .queue > .queue_content > ul > li > .info > p {
        max-width: 192px;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #00000060;
    padding: 50px 20px 20px;
    overflow-y: auto;
    backdrop-filter: blur(3px);
}
.modal > .modal_close {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    color: white;
    background-color: rgb(255, 71, 71);
}
.modal > .modal_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 40px 20px 20px;
    overflow-y: auto;
}
.modal > .modal_content > .warning {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 16px;
}

.music_player {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f0f3f5;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #00000081;
    padding: 20px;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
}
.spinner div {
    width: 60px;
    height: 60px;
    margin: 8px;
    display: block;
    border: 6px solid;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0561da transparent transparent transparent;
}
.spinner > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0561da;
    font-size: 16px;
}
.spinner div:nth-child(1) {
    animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.file_mover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file_mover > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: var(--color-blackish-light);
}

.trash_options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trash_options > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: rgb(241, 61, 61);
}
@media screen and (max-width: 768px) {
    .trash_options > button {
        font-size: 15px;
        padding: 8px;
    }
}

.multi_select_options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.multi_select_options > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--color-blackish-light);
}

@media screen and (max-width: 768px) {
    .multi_select_options > button {
        justify-content: space-evenly;
        margin-right: none;
    }
}

.discovery {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 200px;
    background-color: var(--color-blackish);
    border-radius: 10px;
    color: white;
}
.discovery > p {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
.discovery > div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}
.discovery > div > input[type="password"] {
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: #ccc;
    background-color: var(--color-blackish-light);
    outline: none;
}
.discovery > div > button {
    width: fit-content;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: white;
    background-color: var(--color-blueish);
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .discovery {
        padding: 20px;
    }
    .discovery > p {
        font-size: 13px;
    }
    .discovery > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .discovery > div > input[type="password"] {
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .discovery > div > button {
        margin-left: 0;
        margin-top: 10px;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

.file_sender {
    top: 0;
    right: 0;
    width: 500px;
    height: 300px;
    position: fixed;
    background-color: var(--color-blackish);
    z-index: 100;
    margin-top: 70px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #00000081;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.file_sender > input[type="text"] {
    width: calc(100% - 20px);
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: #ccc;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-blackish-light);
    flex-shrink: 0;
}
.file_sender > ul {
    width: calc(100% - 20px);
    height: 50px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.file_sender > ul > li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--color-blackish-light);
    cursor: pointer;
    color: #ccc;
}
.file_sender > div > button {
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: rgb(235, 66, 66);
    margin: 0 10px;
}
.file_sender > p {
    width: 100%;
    max-width: 450px;
    height: 40px;
    padding: 0 10px;
    color: #ccc;
    font-size: 16px;
    flex-shrink: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}