* {
    margin: 0;
    padding: 0;
}

:root {
    --black-main: #1d1b22;
    --black-secondary: #26262e;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #1919194d;
}
  

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #363645bd;
}

body {
    font-family: 'Prompt', sans-serif;
    overflow: hidden;
    height: 100vh;
    background-color: var(--black-main);
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--black-main);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container > header {
    top: 0;
    position: fixed;
    background-color: var(--black-secondary);
    color: white;
    padding: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 110 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.container > header > .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
  
.container > header > .menu > i {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.container > header > .logo {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.container > header > .search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.container > header > .search > input[type="text"] {
    max-width: 300px;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--black-main);
    color: white;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 15px;
    transition: 0.2s;
}

.container > header > .search > i {
    position: fixed;
    font-size: 18px;
    color: rgb(72, 158, 22);
    cursor: pointer;
    margin-right: 8px;
}

@media screen and (max-width: 768px) {
    .container > header > .logo > img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container > header > .menu{
        display: none;
    }
    .container > header > .logo {
        display: flex;
        margin-left: 20px;
    }
    .container > header > .search {
        padding-right: 20px;
    }
}

.container > header > .logo > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.container > .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 50px;
}

.content > .bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: var(--black-main);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.content > .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--black-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.sidebar > .btn {
    width: calc(100% - 80px);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.sidebar > .btn > span {
    font-size: 15px;
    color: whitesmoke;
    margin-right: 10px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .content > .sidebar {
        display: none;
        max-width: 250px;
    }
}

.content > .view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) {
    .content > .view {
        margin-left: 300px;
    }
}

.content > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: var(--black-main);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98 !important;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(100% - 20px);
    height: 50px;
    flex-shrink: 0;
    background-color: var(--black-secondary);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card > .options {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.card > .options > i {
    font-size: 15px;
    color: rgb(185, 182, 182);
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .card > .options > i {
        font-size: 20px;
    }
}

.card > .remove {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.card > .remove > i {
    font-size: 15px;
    color: #ccc;
    padding: 10px;
}

.card > .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 5px;
}

.card > .icon > i {
    font-size: 15px;
    color: #ffffff43;
}

.card > .details {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card > .details > p {
    font-size: 8px;
    color: white;
    margin-bottom: 2px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card > .details > p > i {
    font-size: 8px;
    color: #ffffff43;
    margin-left: 10px;
}

.card > .details > .progress {
    width: calc(100% - 10px);
    height: 3px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card > .details > .progress > .bar {
    width: 0;
    height: 100%;
    background-color: #1549e3;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .card {
        width: calc(100% - 80px);
        height: 70px;
        margin-top: 20px;
    }
    .card > .icon {
        margin-left: 25px;
        margin-right: 15px;
    }
    .card > .icon > i {
        font-size: 20px;
    }
    .card > .details > p {
        max-width: 300px;
        font-size: 13px;
    }
    .card > .details > p > i {
        font-size: 12px;
    }
    .body > .content > .cards > .prompt {
        width: 50%;
        height: 30px;
    }
    .card > .remove {
        margin-right: 20px;
    }
    .card > .options {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
}

.view > .prompt {
    margin-top: 10px;
    margin-bottom: 5px;
    width: calc(100% - 80px);
    height: 30px;
    background-color: var(--black-secondary);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    overflow-x: auto;
    flex-shrink: 0;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .view > .prompt {
        width: calc(100% - 20px);
    }
}

.prompt > button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border-radius: 5px;
    position: sticky;
    margin-right: 6px;
}

.prompt > button > i {
    color: rgb(185, 184, 184);
    font-size: 18px;
}

.prompt > .fragment {
    width: max-content;
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Consolas', monospace;
    background-color: rgba(255, 255, 255, 0.137);
}

.file-option {
    right: 0;
    bottom: 0;
    position: fixed;
    width: 400px;
    height: 150px;
    margin-right: 48px;
    background-color: #282835;
    border-radius: 5px 5px 0 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
}

.file-option > .details {
    padding-top: 20px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-option > .details > p {
    max-width: 300px;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.137);
    padding: 0 15px;
    border-radius: 15px;
}

.file-option > .group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.file-option > .group > button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

.file-option > .group > button > i {
    font-size: 15px;
    color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.file-option > button {
    position: fixed;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #686868;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    margin-right: 58px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .file-option {
        width: 100%;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--black-secondary);
        border-radius: 20px 20px 0 0;
    }
    .file-option > button {
        margin-right: 15px;
        margin-top: 15px;
    }
}

.results {
    top: 0;
    right: 0;
    position: fixed;
    width: 500px;
    height: 200px;
    margin-top: 50px;
    background-color: #282835;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .results {
        width: 100%;
        height: fit-content;
        max-height: 200px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 0 0 10px 10px;
        padding-top: 10px;
    }
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    min-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 500 !important;
    bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .snackbar {
        max-width: 300px;
    }
}

.warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 14, 14, 0.766);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    animation: warning 0.5s ease-in-out infinite;
}

.warning > .box {
    width: 400px;
    height: 150px;
    background-color: var(--black-main);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.warning > .box > .title {
    font-size: 15px;
    margin-bottom: 10px;
    max-width: 300px;
    text-align: left;
    word-wrap: break-word;
}

.warning > .box > .group {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.warning > .box > .group > button {
    background-color: rgb(239, 73, 73);
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px 8px;
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .warning > .box {
        width: 300px;
        height: 150px;
    }
    .warning > .box > .title {
        font-size: 15px;
        margin-bottom: 10px;
        max-width: 250px;
        text-align: left;
        word-wrap: break-word;
    }
    .warning > .box > .group {
        width: 250px;
    }
}
    