* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #1919194d;
}
  

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #363645bd;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: #1a1c20;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-layer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff0a;
    position: absolute;
    z-index: 99;
    backdrop-filter: blur(2px);
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #065bc7;
    background-color: #1a1c20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 1px 0 rgba(204, 204, 204, 0.521);
    overflow-y: auto;
}

.sidebar > .logo {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo > h3 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.option {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-left: 5px solid transparent;
}

.option > .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.option > .icon > i {
    font-size: 16px;
    color: #ccc;
    z-index: 2;
}

.option:hover {
    background-color: #ffffff1c;
}

.bottom-option {
    bottom: 0;
    position: absolute;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff0c;
    font-size: 16px;
}

.bottom-option > i {
    font-size: 16px;
    color: rgb(255, 71, 71);
    z-index: 2;
    margin-right: 10px;
}

.floating-menu-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #065bc7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.floating-menu-button > i {
    font-size: 15px;
    color: white;
}

@media screen and (min-width: 768px) {
    .floating-menu-button {
        display: none;
    }
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.content > header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.content > header > i {
    font-size: 20px;
    color: #0561da;
    z-index: 2;
    margin-right: 10px;
}

.content > header > input[type="text"] {
    width: 100%;
    height: calc(100% - 10px);
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}


.content > header > button {
    height: calc(100% - 20px);
    background-color: #2d2f32;
    border: none;
    outline: none;
    color: #ccc;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content > header > button > i {
    font-size: 16px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        display: none;
        position: fixed;
    }
    .content {
        width: 100%;
    }
    .content > header {
        height: 50px;
    }
    .content > header > input[type="text"] {
        font-size: 14px;
    }
    .content > header > button {
        font-size: 14px;
    }
}

.content > section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a1c20;
}
.home-page > p {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
    margin-top: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff0c;
}
.home-page > p > i {
    font-size: 20px;
    color: #ccc;
    margin-right: 5px;
}
.home-page > .pinned {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
}
.home-page > .pinned > .card {
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff0c;
    padding: 10px;
    flex-shrink: 0;
}
.home-page > .pinned > .card > i {
    font-size: 40px;
    color: #ccc;
    margin-top: -10px;
    margin-bottom: 8px;
}
.home-page > .pinned > .card > p {
    width: 160px;
    font-size: 12px;
    color: #ccc;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.home-page > .pinned > .card > .unpin {
    width: 100%;
    text-align: end;
    color: rgb(226, 63, 63);
}
.home-page > .pinned > .card > .unpin > span {
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.home-page > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
.home-page > ul > li {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-bottom: 1px solid #ffffff0c;
}
.home-page > ul > li > i {
    font-size: 25px;
    color: #ccc;
}
.home-page > ul > li > span {
    font-size: 15px;
    color: #ccc;
    margin-left: 10px;
    padding: 8px;
    background-color: #ffffff0c;
    border-radius: 50%;
    cursor: pointer;
}
.home-page > ul > li > .info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}
.home-page > ul > li > .info > p {
    max-width: 400px;
    font-size: 15px;
    color: #ccc;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
@media screen and (max-width: 768px) {
    .home-page > ul > li {
        height: 50px;
        padding-left: 0;
        padding-right: 10px;
    }
    .home-page > ul > li > i {
        font-size: 20px;
        margin-left: 10px;
    }
    .home-page > ul > li > .info {
        height: 50px;
        padding-left: 10px;
    }
    .home-page > ul > li > .info > p {
        width: 300px;
        font-size: 12px;
    }
    .home-page > ul > li > span {
        font-size: 15px;
        margin-left: 5px;
        padding: 7px;
    }
}
.options-panel {
    width: 500px;
    height: 200px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a1c20;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000 !important;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.options-panel > p {
    max-width: 480px;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #ccc;
    max-width: 480px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ffffff0c;
}
.options-panel > div > span {
    font-size: 20px;
    color: #ccc;
    margin-left: 10px;
    padding: 10px;
    background-color: #ffffff0c;
    border-radius: 50%;
    cursor: pointer;
}
.options-panel > div > button {
    font-size: 15px;
    padding: 5px 30px;
    background-color: rgb(223, 61, 61);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .options-panel {
        width: 100%;
    }
    .options-panel > p {
        max-width: calc(100% - 20px);
        font-size: 15px;
    }
}

.my-files {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1a1c20;
}
.my-files > p {
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ffffff0c;
}
.my-files > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
.my-files > ul > li {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-bottom: 1px solid #ffffff0c;
    flex-shrink: 0;
}
.my-files > ul > li > i {
    font-size: 25px;
    color: #ccc;
}
.my-files > ul > li > span {
    font-size: 15px;
    color: #ccc;
    margin-left: 10px;
    padding: 8px;
    background-color: #ffffff0c;
    border-radius: 50%;
    cursor: pointer;
}
.my-files > ul > li > .info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}
.my-files > ul > li > .info > p {
    max-width: 300px;  
    font-size: 15px;
    color: #ccc;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
@media screen and (max-width: 768px) {
    .my-files > p {
        font-size: 15px;
        height: 40px;
    }
    .my-files > ul > li {
        height: 50px;
        padding-left: 0;
        padding-right: 10px;
    }
    .my-files > ul > li > i {
        font-size: 20px;
        margin-left: 10px;
    }
    .my-files > ul > li > .info {
        height: 50px;
        padding-left: 10px;
    }
    .my-files > ul > li > .info > p {
        width: 300px;
        font-size: 12px;
    }
    .my-files > ul > li > span {
        font-size: 13px;
        margin-left: 5px;
        padding: 7px;
    }
}
.prompt {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #2d2f323f;
    overflow-y: hidden;
    overflow-x: auto;
}
.prompt > .back {
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #2d2f32;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prompt > .back > i {
    font-size: 15px;
    color: #ccc;
}
.prompt > .fragment {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #2d2f32;
    font-family: 'Courier New', Courier, monospace;
}
.prompt > .arrow {
    width: 0;
    height: 100%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 10px solid #2d2f32; 
}

@media screen and (max-width: 768px) {
    .prompt > .back {
        width: 25px;
        height: 25px;
    }
    .prompt > .arrow {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent; 
        border-left: 8px solid #2d2f32; 
    }
    .prompt {
        height: 25px;
    }
    .prompt > .fragment {
        font-size: 14px;
    }
}

.queue {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.queue > p {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #ffffff0c;
}
.queue > .task {
    width: 100%;
    height: 53px;
    padding: 5px;
    font-size: 15px;
    text-align: left;
    border-bottom: 1px solid #ffffff0c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.queue > .task > .icon {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.queue > .task > p {
    max-width: calc(100% - 20px);
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-left: 50px;
}
@media screen and (max-width: 768px) {
    .queue > .task > p {
        max-width: 350px;
    }
}
.queue > .task > .progress {
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 20px;
}
.queue > .task > .progress > .bar {
    width: 0;
    height: 5px;
    background-color: #2d2f32;
    transition: width 0.5s;
    border-radius: 10px;
}

.snackbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 10px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 20px;
    transition: bottom 0.5s;
    z-index: 1100 !important;
    background-color: transparent;
    animation: sildein 0.5s;
}
.snackbar > .content {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2f32;
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 5px;
    flex-grow: 0;
}
.snackbar > .content > p {
    font-size: 16px;
    max-width: 480px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
