* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-blueish: #0561da;
    --color-blackish: #1a1c20;
    --color-blackish-light: #2d2f32;
    --color-blackish-hover: #ffffff0c;
} 

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #1919194d;
}
  

::-webkit-scrollbar-thumb {
    background: var(--color-blackish-light);
}

body {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--color-blackish);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur_layer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: rgba(110,118,129,0.4);
}

@keyframes sildein_ltr {
    0% {
        left: -150px;
    }
    100% {
        left: 0;
    }
}

.nav_right {
    right: 0;
    bottom: 0;
    position: fixed;
    width: 500px;
    height: 100vh;
    height: 100dvh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000 !important;
    animation: sildein_rtl 0.5s;
    background-color: #1a1c20;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.425);
}

@media screen and (max-width: 768px) {
    .nav_right {
        width: 300px;
    }
}

.nav_left {
    width: 250px;
    height: 100%;
    height: 100dvh;
    background-color: #1a1c20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 0 1px 0 rgba(204, 204, 204, 0.521);
    animation: sildein_ltr 0.5s;
}
.nav_left > .logo {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.nav_left > .logo > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav_left > .logo > p {
    font-size: 20px;
    color: white;
}
.nav_left > .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.nav_left_option {
    width: 100%;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: flex-start;
    border-left: 5px solid transparent;
}
.nav_left_option > .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_left_option > .icon > span {
    font-size: 20px;
    color: #ccc;
    z-index: 2;
}
.nav_left_option:hover {
    background-color: #ffffff1c;
}
.nav_left_option_rounded {
    width: 100%;
    height: max-content;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    color: #ccc;
    flex-shrink: 0;
    padding-top: 10px;
}
.nav_left_option_rounded > .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-blackish-light);
    border-radius: 20px 0 0 20px;
}
.nav_left_option_rounded > .inner > .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_left_option_rounded > .inner > .icon > span {
    font-size: 20px;
    color: #ccc;
    z-index: 2;
}
.nav_left_option_rounded > .inner > p {
    font-size: 14px;
    color: #ccc;
}

.user {
    width: 250px;
    height: max-content;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #202023;
    z-index: 10;
}
.user > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.user > p {
    max-width: 125px;
    font-size: 15px;
    color: #d2e4ffbf;
    padding: 5px 14px;
    border-radius: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: end;
    background-color: var(--color-blackish-hover);
    cursor: copy;
}
.user > p:hover {
    background-color: var(--color-blackish);
}
.user > span {
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--color-blackish-hover);
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.content > nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid #cccccc09;
}
.content > nav > span {
    font-size: 20px;
    color: #0561da;
    z-index: 2;
    margin-right: 10px;
    font-weight: 800;
}
.content > nav > input[type="text"] {
    width: 100%;
    height: calc(100% - 10px);
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}
.content > nav > button {
    height: max-content;
    background-color: #2d2f32;
    border: none;
    outline: none;
    color: #ccc;
    padding: 8px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.content > nav > button > span {
    font-size: 20px;
    color: #d2e4ffbf;
}
.content > nav > .other {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .nav_left {
        top: 0;
        left: 0;
        display: none;
        position: fixed;
    }
    .content {
        width: 100%;
    }
    .content > nav {
        height: 50px;
    }
    .content > nav > input[type="text"] {
        font-size: 14px;
    }
    .content > nav > button {
        font-size: 12px;
        padding: 6px;
    }
    .content > nav > .other {
        padding: 0 10px;
    }
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
main > p {
    font-size: 12px;
    color: white;
    margin-top: 10px;
    padding: 3px 10px;
    border-radius: 15px;
    background-color: orangered;
}
main > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
main > ul > li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff0c;
}
main > ul > li:last-child {
    border-bottom: none;
}
main > ul > li > .file_icon {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ccc;
}
main > ul > li > span {
    color: #ccc;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff0c;
}
main > ul > li > .info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
}
main > ul > li > .info > p {
    max-width: 650px;
    font-size: 15px;
    color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    main > ul > li {
        height: 50px;
        padding-right: 10px;
    }
    main > ul > li > span {
        font-size: 10px;
        margin-left: 5px;
    }
    main > ul > li > .info {
        height: 50px;
    }
    main > ul > li > .info > p {
        width: 230px;
        font-size: 12px;
    }
}

@keyframes sildein_rtl {
    0% {
        right: -150px;
    }
    100% {
        right: 0;
    }
}

.file_menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.file_menu > .file_menu_close {
    top: 0;
    right: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: #0561da;
    margin: 10px 20px 0 0;
}
.file_menu > .title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #ffffff0c;
}
.file_menu > .title > p {
    width: 400px;
    font-size: 18px;
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file_menu > .title > span {
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    color: #ccc;
}
.file_menu > .file_menu_option {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff0c;
    cursor: pointer;
}
.file_menu > .file_menu_option:hover {
    background-color: #ffffff0c;
}
.file_menu > .file_menu_option > p {
    font-size: 15px;
    color: white;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_menu > .file_menu_option > span {
    font-size: 15px;
    color: #ccc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff0c;
}

@media screen and (max-width: 768px) {
    .file_menu {
        width: 300px;
    }
    .file_menu > .title {
        height: 50px;
        padding: 0 10px;
    }
    .file_menu > .title > p {
        width: 300px;
        font-size: 15px;
    }
    .file_menu > .file_menu_option {
        height: 40px;
        padding: 0 12px;
    }
    .file_menu > .file_menu_option > p {
        font-size: 14px;
    }
    .file_menu > .file_menu_option > span {
        font-size: 12px;
        padding: 8px;
    }
}

.prompt {
    width: 100%;
    height: 50px;
    padding: 20px 20px 10px 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}
.prompt div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.prompt > i {
    color: #ccc;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.prompt > div > p {
    width: fit-content;
    max-width: 600px;
    padding: 4px 8px;
    background-color: #a7313cfa;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prompt > div > i {
    color: #ccc;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--color-blackish-hover);
    border-radius: 50%;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .prompt > p {
        max-width: 320px;
    }
}

@keyframes sildein_ttb {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

.snackbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: bottom 0.5s;
    z-index: 10001 !important;
    background-color: transparent;
    animation: sildein_ttb 0.5s;
}
.snackbar > .snack_content {
    height: 40px;
    max-width: 700px;
    min-width: 300px;
    width: max-content;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: rgb(30, 112, 30);
    box-shadow: 0 0 10px 0 #0000006e;
}
.snackbar > .snack_content > p {
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.snackbar > .snack_content > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    padding: 3px;
    border-radius: 50%;
    background-color: #ffffff3f;
}
@media screen and (max-width: 768px) {
    .snackbar > .snack_content {
        max-width: 350px;
        min-width: 200px;
    }
    .snackbar > .snack_content > p {
        font-size: 14px;
        max-width: 200px;
    }
    .snackbar > .snack_content > i {
        font-size: 18px;
    }
}
    
.queue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}
.queue > .queue_close {
    top: 0;
    right: 0;
    position: fixed;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ccc;
    font-size: 15px;
}
.queue > .queue_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.queue > .queue_content > p {
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
    padding: 7px 15px;
    border-radius: 25px;
}
.queue > .queue_content > ul {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 20px;
    text-align: left;
    overflow-y: auto;
    border-radius: 5px;
    background-color: transparent;
}
.queue > .queue_content > ul > li {
    width: 100%;
    height: 50px;
    padding: 3px 8px 3px 3px;
    flex-shrink: 0;
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.queue > .queue_content > ul > li > p {
    width: 60px;
    font-size: 13px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
}
.queue > .queue_content > ul > li > .icon {
    font-size: 18px;
    color: white;
    padding: 8px 16px;
}
.queue > .queue_content > ul > li > .info {
    width: 100%;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.queue > .queue_content > ul > li > .info > p {
    width: 100%;
    max-width: 618px;
    font-size: 15px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3px;
}
.queue > .queue_content > ul > li > .info > .progress {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #2d2f32;
}
.queue > .queue_content > ul > li > .info > .progress > .bar {
    width: 0;
    height: 100%;
    background-color: var(--color-blueish);
    transition: width 0.5s;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .queue {
        width: 300px;
    }
    .queue > .queue_close {
        width: 20px;
        height: 20px;
    }
    .queue > .queue_content > p {
        font-size: 13px;
        padding: 5px 10px;
    }
    .queue > .queue_content > ul {
        width: 100%;
        height: 100%;
    }
    .queue > .queue_content > ul > li > .info > p {
        max-width: 192px;
    }
}

.file_mover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file_mover > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: var(--color-blackish-light);
}

.trash_options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trash_options > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: rgb(241, 61, 61);
}
@media screen and (max-width: 768px) {
    .trash_options > button {
        font-size: 15px;
        padding: 8px;
    }
}

.multi_select_options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.multi_select_options > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    margin-left: 10px;
    background-color: var(--color-blackish-light);
}
.multi_select_options > button > span {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .multi_select_options > button {
        justify-content: space-evenly;
    }
    .multi_select_options > button > span {
        font-size: 15px;
    }
}

.file_sender {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 45px;
}
.file_sender > input[type="text"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    color: #ccc;
    background-color: var(--color-blackish-light);
}
.file_sender > div > button {
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: var(--color-blackish-light);
    margin: 0 10px;
}
.file_sender > p {
    width: 100%;
    max-width: 450px;
    color: #ccc;
    font-size: 16px;
    flex-shrink: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    .file_sender {
        padding: 20px;
    }
    .file_sender > input[type="text"] {
        font-size: 13px;
    }
    .file_sender > div > button {
        font-size: 13px;
    }
    .file_sender > p {
        font-size: 13px;
        max-width: 250px;
    }
}

.context_menu {
    width: 260px;
    height: max-content;
    position: fixed;
    border-radius: 5px;
    color: white;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: var(--color-blackish);
    z-index: 9999 !important;
    border: 1px solid var(--color-blackish-light);
}
.context_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.context_menu > ul > li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}
.context_menu > ul > li:hover {
    background-color: var(--color-blackish-hover);
}
.context_menu > ul > li > span {
    font-size: 18px;
    color: #ccc;
}

.greetings {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blackish);
    color: white;
    overflow-y: auto;
    padding: 40px;
}
.greetings > .skip {
    position: absolute;
    top: 10px;
    right: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.2s;
    color: #ccc;
    padding: 2px 15px;
    background-color: var(--color-blackish-hover);
}
.greetings > .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.greetings > .inner > * {
    padding: 10px;
}
.greetings > .inner > h1 {
    font-size: 30px;
    color: #ccc;
}
.greetings > .inner > img {
    width: 320px;
    height: 320px;
    border-radius: 20px;
}
.greetings > .inner > .drop {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--color-blackish-hover);
    cursor: pointer;
}
.greetings > .inner > .drop > span {
    font-size: 15px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.greetings > .inner > button {
    width: 100%;
    max-width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--color-blueish);
}
@media screen and (max-width: 768px) {
    .greetings {
        padding: 0;
        flex-direction: column;
    }
    .greetings > .inner > h1 {
        font-size: 23px;
    }
    .greetings > .inner > img {
        width: 200px;
        height: 200px;
    }
    .greetings > .inner > .drop {
        width: 200px;
        height: 100px;
    }
    .greetings > .inner > .drop > span {
        font-size: 13px;
    }
    .greetings > .inner > button {
        max-width: 200px;
    }
}

.file_preview {
    height: 100%;
    width: calc(100vw - 40px);
    max-width: 1080px;
    max-height: 80vh;
    margin: auto;
    padding: 20px;
    position: fixed;
    color: white;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color-blackish);
    border: 1px solid var(--color-blackish-light);
}
.file_preview::backdrop {
    background-color: rgba(0, 0, 0, 0.692);
}
.file_preview > embed {
    width: 100%;
    height: 100%;
    object-fit: contain;
}