* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --accent-blue: #0561da;
    --bg-primary: #1a1c20;
    --bg-secondary: #ffffff0c;
    --bg-secondary-solid: #2d2f32;
    --border-primary: #ffffff0c;
    --border-secondary: #cccccc09;
    --blur-bg: rgba(110,118,129,0.4);
    --scrollbar-track-bg: #1919194d;
    --shadow: rgba(0, 0, 0, 0.425);
    --text-color: #ccc;
    --icon-span-color: #ccc;
    --filemenu-span-bg: #ffffff0c;
    --user-span-color: #d2e4ffbf;
    --nav-left-option-bg: #0561da31;
    --progress-bar-bg: #2d2f32;
    --white-text: #ffffff;
} 

.light-mode {
    --bg-primary: whitesmoke;
    --bg-secondary: #0000000c;
    --bg-secondary-solid: #2d2f32;
    --border-primary: #0000000c;
    --border-secondary: #02020209;
    --blur-bg: rgba(110,118,129,0.4);
    --scrollbar-track-bg: #1919194d;
    --shadow: rgba(0, 0, 0, 0.425);
    --text-color: #3b3a3ace;
    --icon-span-color: #4b4545;
    --filemenu-span-bg: #08080813;
    --user-span-color: #747477;
    --nav-left-option-bg: #2e323810;
    --progress-bar-bg: #2d2f3242;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg);
}
  

::-webkit-scrollbar-thumb {
    background: var(--bg-secondary-solid);
}

body {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--bg-primary);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur_layer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: var(--blur-bg);
}

@keyframes sildein_ltr {
    0% {
        left: -150px;
    }
    100% {
        left: 0;
    }
}

.nav_right {
    right: 0;
    position: fixed;
    width: 500px;
    height: 100vh;
    height: 100dvh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000 !important;
    animation: sildein_rtl 0.5s;
    background-color: var(--bg-primary);
    box-shadow: 0 0 10px 0 var(--shadow);
}

@media screen and (max-width: 768px) {
    .nav_right {
        width: 300px;
    }
}

.nav_left {
    width: 250px;
    height: 100%;
    height: 100dvh;
    background-color: var(--bg-primary);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    overflow-y: auto;
    border-right: 1px solid var(--border-primary);
    animation: sildein_ltr 0.5s;
    padding: 20px;
    padding-bottom: 10px;
}
.nav_left > .logo {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.nav_left > .logo > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav_left > .logo > p {
    font-size: 20px;
    color: var(--text-color);
}
.nav_left > .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.nav_left_option {
    width: 100%;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border-radius: 5px;
    margin: 5px 0;
}
.nav_left_option > .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_left_option > .icon > span {
    font-size: 20px;
    color: var(--icon-span-color);
    z-index: 2;
}
.nav_left_option:hover {
    background-color: #ffffff1c;
}

.user {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    border-radius: 30px;
}
.user > p {
    max-width: 125px;
    font-size: 15px;
    color: var(--text-color);
    padding: 5px 14px;
    border-radius: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: end;
    background-color: var(--border-primary);
    cursor: copy;
}
.user > p:hover {
    background-color: var(--bg-primary);
}
.user > span {
    font-size: 16px;
    color: var(--user-span-color);
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--border-primary);
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.content > nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 15px;
    justify-content: flex-start;
    z-index: 2;
    padding: 0 10px;
}
.content > nav > span {
    cursor: pointer; 
    font-size: 20px; 
    font-weight: 500; 
    margin: 10px; 
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
}
.content > nav > input[type="text"] {
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    transition: all 0.2s ease-in-out;
    padding-right: 50px;
    margin: 0 10px;
}
.content > nav > div > button {
    height: max-content;
    background-color: var(--bg-secondary);
    border: none;
    outline: none;
    color: #ccc;
    padding: 8px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.content > nav > div > button > span {
    font-size: 20px;
    color: var(--user-span-color);
}
.content > nav > .other {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 5px;
}

#menu {
    display: none;
}

#search-icon {
    margin-left: -60px;
    border-left: 1px solid var(--border-primary);
}

@media screen and (max-width: 768px) {
    .nav_left {
        top: 0;
        left: 0;
        display: none;
        position: fixed;
    }
    .content {
        width: 100%;
    }
    
    .content > nav > input[type="text"] {
        font-size: 14px;
    }
    .content > nav > div > button {
        font-size: 12px;
        padding: 6px;
    }
    #menu {
        display: flex;
    }
    #search-icon {
        display: none;
    }
}

main {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
main > p {
    font-size: 12px;
    color: var(--white-text);
    margin-top: 10px;
    padding: 4px 15px;
    border-radius: 15px;
    background-color: orangered;
}
main > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
main > ul > li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
main > ul > li > .file_icon {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--icon-span-color);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    margin: 0 10px;
}
main > ul > li:hover > .file_icon {
    border: 1px dashed #cccccc7e;
}
main > ul > li > span {
    color: var(--icon-span-color);
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--filemenu-span-bg);
}
main > ul > li > .info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
    color: var(--text-color);
}
main > ul > li > .info > p {
    max-width: 650px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    main > ul > li {
        height: 50px;
    }
    main > ul > li > span {
        font-size: 10px;
    }
    main > ul > li > .info {
        height: 50px;
    }
    main > ul > li > .info > p {
        width: 230px;
        font-size: 12px;
    }
}

@keyframes sildein_rtl {
    0% {
        right: -150px;
    }
    100% {
        right: 0;
    }
}

.file_menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.file_menu > .title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #ffffff0c;
}
.file_menu > .title > p {
    width: 400px;
    font-size: 18px;
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file_menu > .title > span {
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    color: var(--icon-span-color);
}
.file_menu > .file_menu_option {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-primary);
    cursor: pointer;
}
.file_menu > .file_menu_option:hover {
    background-color: var(--bg-secondary);
}
.file_menu > .file_menu_option > p {
    font-size: 15px;
    color: var(--text-color);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_menu > .file_menu_option > span {
    font-size: 15px;
    color: var(--icon-span-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-secondary);
}

@media screen and (max-width: 768px) {
    .file_menu {
        width: 300px;
    }
    .file_menu > .title {
        height: 50px;
        padding: 0 10px;
    }
    .file_menu > .title > p {
        width: 300px;
        font-size: 15px;
    }
    .file_menu > .file_menu_option {
        height: 40px;
        padding: 0 12px;
    }
    .file_menu > .file_menu_option > p {
        font-size: 14px;
    }
    .file_menu > .file_menu_option > span {
        font-size: 12px;
        padding: 8px;
    }
}

.prompt {
    width: 100%;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 10px;
}

.prompt > i {
    color: var(--icon-span-color);
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}
.prompt > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.prompt > div > p {
    width: fit-content;
    max-width: 600px;
    padding: 4px 8px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prompt > div > i {
    color: var(--icon-span-color);
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--border-primary);
    border-radius: 50%;
    margin: 10px;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .prompt > div > p {
        max-width: 250px;
    }
}

@keyframes sildein_ttb {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

.snackbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--white-text);
    font-size: 20px;
    transition: bottom 0.5s;
    z-index: 10001 !important;
    background-color: transparent;
    animation: sildein_ttb 0.5s;
}
.snackbar > .snack_content {
    height: 40px;
    max-width: 700px;
    min-width: 300px;
    width: max-content;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: rgb(30, 112, 30);
    box-shadow: 0 0 10px 0 var(--shadow);
}
.snackbar > .snack_content > p {
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.snackbar > .snack_content > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--white-text);
    padding: 3px;
    border-radius: 50%;
    background-color: #ffffff3f;
}
@media screen and (max-width: 768px) {
    .snackbar > .snack_content {
        max-width: 350px;
        min-width: 200px;
    }
    .snackbar > .snack_content > p {
        font-size: 14px;
        max-width: 200px;
    }
    .snackbar > .snack_content > i {
        font-size: 18px;
    }
}
    
.queue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}
.queue > .queue_close {
    top: 0;
    right: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--icon-span-color);
    font-size: 15px;
}
.queue > .queue_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.queue > .queue_content > p {
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 10px;
    padding: 7px 15px;
    border-radius: 25px;
}
.queue > .queue_content > ul {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 20px;
    text-align: left;
    overflow-y: auto;
    border-radius: 5px;
    background-color: transparent;
}
.queue > .queue_content > ul > li {
    width: 100%;
    height: 50px;
    padding: 3px 8px 3px 3px;
    flex-shrink: 0;
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.queue > .queue_content > ul > li > p {
    width: 60px;
    font-size: 13px;
    color: var(--text-color);
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
}
.queue > .queue_content > ul > li > .icon {
    font-size: 18px;
    color: var(--text-color);
    margin: 0 10px;
}
.queue > .queue_content > ul > li > .icon > span {
    padding: 10px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 5px;
}
.queue > .queue_content > ul > li > .info {
    width: 100%;
    font-size: 15px;
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.queue > .queue_content > ul > li > .info > p {
    width: 100%;
    max-width: 618px;
    font-size: 15px;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3px;
}
.queue > .queue_content > ul > li > .info > .progress {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--progress-bar-bg);
}
.queue > .queue_content > ul > li > .info > .progress > .bar {
    width: 0;
    height: 100%;
    background-color: var(--accent-blue);
    transition: width 0.5s;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .queue {
        width: 300px;
    }
    .queue > .queue_close {
        width: 20px;
        height: 20px;
    }
    .queue > .queue_content > p {
        font-size: 13px;
        padding: 5px 10px;
    }
    .queue > .queue_content > ul {
        width: 100%;
        height: 100%;
    }
    .queue > .queue_content > ul > li > .info > p {
        max-width: 192px;
    }
}

.file_mover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file_mover > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: var(--bg-secondary-solid);
}

.trash_options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trash_options > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: rgb(241, 61, 61);
}
@media screen and (max-width: 768px) {
    .trash_options > button {
        font-size: 15px;
        padding: 8px;
    }
}

.file_sender {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 45px;
}
.file_sender > input[type="text"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    color: #ccc;
    background-color: var(--bg-secondary-solid);
}
.file_sender > div > button {
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: var(--bg-secondary-solid);
    margin: 0 10px;
}
.file_sender > p {
    width: 100%;
    max-width: 450px;
    color: #ccc;
    font-size: 16px;
    flex-shrink: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    .file_sender {
        padding: 20px;
    }
    .file_sender > input[type="text"] {
        font-size: 13px;
    }
    .file_sender > div > button {
        font-size: 13px;
    }
    .file_sender > p {
        font-size: 13px;
        max-width: 250px;
    }
}

.context_menu {
    width: 260px;
    height: max-content;
    position: fixed;
    border-radius: 5px;
    color: var(--text-color);
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 var(--shadow);
    background-color: var(--bg-primary);
    z-index: 9999 !important;
    border: 1px solid var(--bg-secondary-solid);
}
.context_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.context_menu > ul > li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}
.context_menu > ul > li:hover {
    background-color: var(--border-primary);
}
.context_menu > ul > li > span {
    font-size: 18px;
    color: var(--icon-span-color);
}

.greetings {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    color: var(--text-color);
    overflow-y: auto;
    padding: 40px;
}
.greetings > .skip {
    position: absolute;
    top: 10px;
    right: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.2s;
    color: #ccc;
    padding: 2px 15px;
    background-color: var(--border-primary);
}
.greetings > .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.greetings > .inner > * {
    padding: 10px;
}
.greetings > .inner > h1 {
    font-size: 30px;
    color: #ccc;
}
.greetings > .inner > img {
    width: 320px;
    height: 320px;
    border-radius: 20px;
}
.greetings > .inner > .drop {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--border-primary);
    cursor: pointer;
}
.greetings > .inner > .drop > span {
    font-size: 15px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.greetings > .inner > button {
    width: 100%;
    max-width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--accent-blue);
}
@media screen and (max-width: 768px) {
    .greetings {
        padding: 0;
        flex-direction: column;
    }
    .greetings > .inner > h1 {
        font-size: 23px;
    }
    .greetings > .inner > img {
        width: 200px;
        height: 200px;
    }
    .greetings > .inner > .drop {
        width: 200px;
        height: 100px;
    }
    .greetings > .inner > .drop > span {
        font-size: 13px;
    }
    .greetings > .inner > button {
        max-width: 200px;
    }
}

.file_migration {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 15px;
    position: fixed;
    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-secondary-solid);
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.file_migration::backdrop {
    background-color: rgba(0, 0, 0, 0.692);
}

.file_migration p {
    width: 100%;
    background: #ffffff1a;
    padding: 5px 15px;
    margin: 4px 0;
    border-radius: 5px;
    overflow-wrap: anywhere;
}
.file_migration h3 {
    margin-bottom: 10px;
}

.file_migration button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--bg-secondary);
    color: var(--icon-span-color);
    display: flex;
}

.file_preview {
    width: fit-content;
    min-width: 328px;
    height: fit-content;
    margin: auto;
    padding: 15px;
    position: fixed;
    color: var(--text-color);
    border-radius: 30px;
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-secondary-solid);
    display: none;
    align-items: center;
    justify-content: center;
}
.file_preview::backdrop {
    background-color: rgba(0, 0, 0, 0.692);
}
.file_preview > p {
    width: 100%;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 16px;
    word-break: break-all;
}
.file_preview > span {
    padding: 5px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 50%;
    pointer-events: none;
    cursor: pointer;
    color: var(--icon-span-color);
    font-size: 19px;
    margin-left: 10px;
}

.rename {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    border-radius: 10px;
}
.rename > input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 20px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
}
.rename button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 15px;
    color: var(--text-color);
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--accent-blue);
}