* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Prompt', sans-serif;
    overflow: hidden;
    background-color: #1a1c20;
    overflow: hidden;
}

header {
    top: 0;
    position: fixed;
    background-color: #ffffff0c;
    color: white;
    padding: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h3 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 5px;
}

header > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.container {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container > .downloader {
    width: 500px;
    height: 50px;
    background-color: #ffffff17;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 0 5px 0 #0000001a;
}

@media screen and (max-width: 768px) {
    .container > .downloader {
        width: 320px;
    }
}

.container > .downloader > p {
    width: calc(100% - 20px);
    font-size: 15px;
    font-weight: 500;
    color: #ccc;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 .container > .downloader > span {
    font-size: 25px;
    font-weight: 500;
    color: #ccc;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.158);
    margin-right: 4px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #0000001a;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: #ffffff0c;
    color: white;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

footer > p {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

footer > .progress {
    width: 0;
    height: 100%;
    background-color: #0e7eff;
    display: flex;
    justify-content: center;
    align-items: center;
}