* {
    margin: 0;
    padding: 0;
}

:root {
    --black-main: #1d1b22;
    --black-secondary: #26262e;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #1919194d;
}
  

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #363645bd;
}

body {
    font-family: 'Prompt', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black-main);
    overflow: hidden;
}

.container > .header {
    top: 0;
    position: fixed;
    background-color: var(--black-secondary);
    color: white;
    padding: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.header > .left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left > h3 {
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-left: 5px;
}

.left > img {
    width: 28px;
    height: 28px;
    margin-left: 20px;
}

.header > .right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right > button {
    background-color: rgba(70, 71, 72, 0.548);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    z-index: 2;
}

.right > button > i {
    color: white;
    font-size: 15px;
}

.right > button:hover {
    background-color: #1549e3a7;
}

.container > .body {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(30,34,39,255);
    overflow: hidden;
}

.body > .top {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgba(30,34,39,255);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}

.top > .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner > .results {
    width: 70%;
    height: 190px;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex: 1 0 auto;
    font-size: 20px;
    color: white;
    background-color: transparent;
} 

.inner > input[type="text"] {
    width: 30%;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: rgba(70, 71, 72, 0.548);
    margin-left: auto;
    margin-right: auto;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    min-height: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {

    .inner > input[type="text"] {
        width: calc(100% - 120px);
    }

    .inner > .results {
        width: 96%;
    }

    .snackbar {
        max-width: 300px;
    }
}

.body > .middle {
    width: 100%;
    height: 100%;
    background-color: var(--black-main);
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}

.body > .middle > .cards {
    width: 100%;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.file {
    margin-top: 10px;
    width: calc(100% - 20px);
    height: 70px;
    flex-shrink: 0;
    background-color: var(--black-secondary);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.file > .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 5px;
}

.file > .icon > i {
    font-size: 30px;
    color: #1549e3;
    
}

.file:hover {
    background-color: #ffffff1a;
}

.file > .details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.file > .details > p {
    font-size: 12px;
    color: white;
    margin-bottom: 3px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file > .details > p > i {
    font-size: 10px;
    color: #1549e3;
    margin-left: 10px;
}

.file > .details > .progress {
    width: calc(100% - 10px);
    height: 3px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.file > .details > .progress > .bar {
    width: 100%;
    height: 100%;
    background-color: #1549e3;
    border-radius: 10px;
}

.file > .option {
    width: 30px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file > .option > button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    background-color: transparent;
}

.file > .option > button > i {
    font-size: 15px;
    color: white;
}

@media screen and (min-width: 768px) {
    .file {
        width: 50%;
        height: 70px;
        margin-top: 20px;
    }
    .file > .details > p {
        max-width: 500px;
        font-size: 13px;
    }

    .file > .details > p > i {
        font-size: 15px;
    }
}

.body > .middle > .side {
    width: 65%;
    height: 100%;
    background-color: rgb(61, 61, 65);
    position: absolute;
    right: 0;
    display: none;
    align-items: center;
    transition: 1s;
}

.body > .middle > .side > button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 40px;
    background-color: #e31526;
    border-radius: 50%;
    transition: 1s;
    margin-left: -25px;
}

.body > .middle > .side > button > i {
    font-size: 23px;
    color: white;
}

@media screen and (min-width: 768px) {
    .body > .middle > .side {
        width: 20%;
    }
}